<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification</title>
</head>
<body>
    <h1>Best Email Verification Service</h1>
    <form method="post">
        {% csrf_token %}
        <input type="email" required name="email" placeholder="Enter a mail to verify"/>
        <input type="submit" value="Check Mail"/>
        {% if data%}
            <h2>Email:{{data.input}}</h2>
            <p>Email is {{data.is_reachable}}</p>
        {%endif%}
        {% if mx%}
            {%for item in mx%}
                <p>{{item}}</p>
            {%endfor%}
        {%endif%}
    </form>
</body>
</html>